<div>
    <div class="container-wrapper">
        <!-- <div class="container-private">
          <div class="header-private">
            <div class="account">
              <img src="./assets/img/avatar/avatar.jpg" alt="" />
              <h1>Trần Huyền My</h1>
            </div>
            <div class="code">
              <button class="btn buy-vip">MUA VIP NGAY</button>
              <button class="btn enter-code">NHẬP CODE VIP</button>
              <button class="option">
                <i class="fa-solid fa-ellipsis"></i>
              </button>
            </div>
          </div>
          <div class="tab-private">
            <div class="tab-container">
              <ul class="list-tab">
                <li class="tab-title active"><h3>Tổng quan</h3></li>
                <li class="tab-title"><h3>Bài hát</h3></li>
                <li class="tab-title"><h3>PLAYLIST</h3></li>
                <li class="tab-title hide"><h3>Album</h3></li>
                <li class="tab-title"><h3>MV</h3></li>
                <li class="tab-title hide"><h3>Nghệ sĩ</h3></li>
              </ul>
            </div>
          </div>
          <div class="grid tab-container">
            <div class="tab-contents show">
              <div class="list-songs-wrapper row">
                <div class="slider-song col m-0 l-3 c-0">
                  <div class="slider-title">
                    <h1>Bài hát</h1>
                    <i class="fa-solid fa-chevron-right"></i>
                  </div>
                  <div class="slider-main hide-on-mobile">
                    <div class="slider-main-container">
                      <div class="slide-item one">
                        <img src="./assets/img/ImageSlider/slide1.jpg" alt="" />
                      </div>
                      <div class="slide-item two">
                        <img src="./assets/img/ImageSlider/slide2.jpg" alt="" />
                      </div>
                      <div class="slide-item three">
                        <img src="./assets/img/ImageSlider/slide3.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-songs col m-12 l-9 c-12">
                  <div class="btn-song">
                    <button class="upload">
                      <i class="fa-solid fa-arrow-up-from-bracket"></i>
                      TẢI LÊN
                    </button>
                    <button class="play-all">
                      <i class="fa-solid fa-play"></i>
                      PHÁT TẤT CẢ
                    </button>
                  </div>
                  <div class="songs">
                    <ul class="list"></ul>
                  </div>
                </div>
              </div>
              <div class="playList-wrapper">
                <div class="playlist-title">
                  <div class="text">
                    <h1>PlayList</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="playlist-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="playlist-main grid">
                  <div class="list-playlist row"></div>
                </div>
              </div>
              <div class="album-wrapper">
                <div class="album-title">
                  <div class="text">
                    <h1>Album</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="album-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="album-main grid">
                  <div class="list-album row"></div>
                </div>
              </div>
              <div class="mv-wrapper">
                <div class="mv-title">
                  <div class="text">
                    <h1>MV</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="mv-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
              </div>
              <div class="mv-main grid">
                <div class="list-mv row">
                </div>
              </div>
              </div>
              <div class="singer-wrapper">
                <div class="singer-title">
                  <div class="text">
                    <h1>Nghệ sĩ</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="singer-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="singer-main grid">
                  <div class="list-singer row">
                    <div class="item-singer col l-2">
                      <div class="singer-img">
                        <img src="./assets/img/singer2/artist1.jpg" alt="">
                      </div>
                      <h2>BinZ</h2>
                      <span>265k quan tân</span>
                      <button>
                        <i class="fa-solid fa-check"></i>
                        <p>ĐÃ QUAN TÂM</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-contents none">
              <div class="list-songs-wrapper row">
                <div class="slider-song col m-4 l-3 c-0">
                  <div class="slider-title">
                    <h1>Bài hát</h1>
                    <i class="fa-solid fa-chevron-right"></i>
                  </div>
                  <div class="slider-main hide-on-mobile">
                    <div class="slider-main-container">
                      <div class="slide-item one">
                        <img src="./assets/img/ImageSlider/slide1.jpg" alt="" />
                      </div>
                      <div class="slide-item two">
                        <img src="./assets/img/ImageSlider/slide2.jpg" alt="" />
                      </div>
                      <div class="slide-item three">
                        <img src="./assets/img/ImageSlider/slide3.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-songs col m-8 l-9 c-12">
                  <div class="btn-song">
                    <button class="upload">
                      <i class="fa-solid fa-arrow-up-from-bracket"></i>
                      TẢI LÊN
                    </button>
                    <button class="play-all">
                      <i class="fa-solid fa-play"></i>
                      PHÁT TẤT CẢ
                    </button>
                  </div>
                  <div class="songs">
                    <ul class="list"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-contents none">
              <div class="playList-wrapper">
                <div class="playlist-title">
                  <div class="text">
                    <h1>PlayList</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="playlist-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="playlist-main grid">
                  <div class="list-playlist row"></div>
                </div>
              </div>
            </div>
            <div class="tab-contents none">
              <div class="album-wrapper">
                <div class="album-title">
                  <div class="text">
                    <h1>Album</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="album-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="album-main grid">
                  <div class="list-album row"></div>
                </div>
              </div>
            </div>
            <div class="tab-contents none">
              <div class="mv-wrapper">
                <div class="mv-title">
                  <div class="text">
                    <h1>MV</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="mv-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
              </div>
              <div class="mv-main grid">
                <div class="list-mv row">
                </div>
              </div>
              </div>
            </div>
            <div class="tab-contents none">
              <div class="singer-wrapper">
                <div class="singer-title">
                  <div class="text">
                    <h1>Nghệ sĩ</h1>
                    <i class="fa-solid fa-angle-right"></i>
                  </div>
                  <div class="singer-move">
                    <button class="btn-prev disabled">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button class="btn-next">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                </div>
                <div class="singer-main grid">
                  <div class="list-singer row">
                    <div class="item-singer col l-2">
                      <div class="singer-img">
                        <img src="./assets/img/singer2/artist1.jpg" alt="">
                      </div>
                      <h2>BinZ</h2>
                      <span>265k quan tân</span>
                      <button>
                        <i class="fa-solid fa-check"></i>
                        <p>ĐÃ QUAN TÂM</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="container-discover"></div>
        <div class="container-charts"></div>
        <div class="container-radio"></div>
        <div class="container-following"></div>
        </div> -->
        <h1 style="color: white;">FOLLOW</h1>
    </div>
</div>
