<div class="container-wrapper">
  <div class="container-private">
    <div class="header-private">
      <div class="account">
        <img ng-src="{{imageUser}}" alt="" />
        <h1>{{username}}</h1>
      </div>
      <div class="code">
        <button class="btn buy-vip">MUA VIP NGAY</button>
        <button class="btn enter-code">NHẬP CODE VIP</button>
        <button class="option">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
      </div>
    </div>
    <div class="tab-private">
      <div class="tab-container">
        <ul class="list-tab">
          <li class="tab-title active"><h3>Tổng quan</h3></li>
          <li class="tab-title"><h3>Bài hát</h3></li>
          <li class="tab-title"><h3>PLAYLIST</h3></li>
          <li class="tab-title hide"><h3>Nghệ sĩ</h3></li>
        </ul>
      </div>
    </div>
    <div class="grid tab-container">
      <div class="tab-contents show">
        <div class="heading">
          <h1>Các bài hát yêu thích</h1>
          <i class="fa-solid fa-angle-right"></i>
        </div>
        <div class="list-songs-wrapper row">
          <div class="list-songs col m-12 l-12 c-12">
            <div class="btn-song">
              <button class="upload">
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                TẢI LÊN
              </button>
              <button class="play-all">
                <i class="fa-solid fa-play"></i>
                PHÁT TẤT CẢ
              </button>
            </div>
            <div class="songs">
              <ul ng-repeat="song in listSong" class="list">
                <li class="item-song">
                  <div class="song-info">
                    <div class="song-img">
                      <img ng-src="{{song.image}}" alt="" />
                      <div class="song-run none"></div>
                    </div>
                    <div class="info">
                      <h3>{{song.name}}</h3>
                      <p>{{song.singer}}</p>
                    </div>
                  </div>
                  <div class="song-time">{{song.duration}}</div>
                  <div class="song-option">
                    <span class="hide"
                      ><i class="fa-solid fa-microphone"></i
                    ></span>
                    <span class="hide"
                      ><i class="fa-solid fa-heart heart"></i
                    ></span>
                    <i class="fa-solid fa-ellipsis"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playList-wrapper">
          <div class="playlist-title">
            <div class="text">
              <h1>PlayList</h1>
              <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="playlist-move">
              <button class="btn-prev disabled">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
              <button class="btn-next">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="playlist-main grid">
            <div class="list-playlist row">
              <div
                class="item-playlist col l-2-4 m-3 c-4"
                ng-repeat="playList in listPlayList"
              >
                <div class="img-item">
                  <div
                    style="position: relative; height: 172px; overflow: hidden"
                    class="img-container"
                  >
                    <img
                      style="border-radius: 8px"
                      src="https://photo-zmp3.zmdcdn.me/album_default.png"
                      alt=""
                    />
                    <div class="img-icon">
                      <a href="#/playList/{{playList.playListId}}">
                        <button
                          ng-click="changeListSong(playList)"
                          class="btn btn-play"
                        >
                          <i class="fa-regular fa-circle-play play"></i>
                        </button>
                      </a>
                    </div>
                  </div>
                  <p>{{playList.name}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="singer-wrapper">
          <div class="singer-title">
            <div class="text">
              <h1>Nghệ sĩ</h1>
              <i class="fa-solid fa-angle-right"></i>
            </div>
            <div class="singer-move">
              <button class="btn-prev disabled">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
              <button class="btn-next">
                <i class="fa-solid fa-chevron-right"></i>
              </button>
            </div>
          </div>
          <div class="singer-main grid">
            <div class="list-singer row">
              <div
                class="item-singer col l-2-4 m-3 c-6"
                ng-repeat="singer in singers"
              >
                <a href="#/discover/artist/{{singer.userId}}">
                  <div class="singer-img">
                    <img ng-src="{{singer.image}}" alt="" />
                  </div>
                </a>
                <h2>{{singer.name}}</h2>
                <button>
                  <i class="fa-solid fa-check"></i>
                  <p>ĐÃ QUAN TÂM</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
