html{
    font-family: 'Inter', sans-serif;
    font-size:62.5%;
    line-height: 1.6rem;
}
*{
    box-sizing: border-box;
}
body ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}
body ::-webkit-scrollbar-track {
    border-radius: 4px;
}
body ::-webkit-scrollbar {
    width: 4px;
}
input[type="range"]{
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--bg-content-color);
    border-radius: 8px;
    outline: none;      
}
input[type="range"]::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 8px;
}
input[type="range"]::-moz-track{
    -moz-appearance: none;
    height: 8px;
}
input[type="range"]::-ms-track{
    appearance: none;
    height: 8px;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 0px;
    border: none;
}
input[type="range"]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    border: none;
}
input[type="range"]::-ms-thumb{
    appearance: none;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}
input[type="range"]:active::-webkit-slider-thumb{
    background-color: #ffffff;
    border: 3px solid #fff;            
}
.song-option{
  display: flex;
  position: relative;
    i{
        align-items: center;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: 13px;
        height: 13px;
        font-size: 1.3rem;
        line-height: 1.3rem;
        color: var(--text-color);
        padding: 10px 10px;
        margin: 0px 2px;
        transition: all 0.2s linear;
        background-color: transparent;
      }
      :hover{
          background-color: rgba(255, 255, 255, 0.5);
          border-radius: 50%;
    }
}

/* toast */
#toast {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 999999999;
  }
  
  .toast {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	max-height: 80px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	transition: all linear 0.3s;
    padding: 10px 0;
  }
  
  @keyframes slideInLeft {
	from {
	  opacity: 0;
	  transform: translateX(calc(100% + 32px));
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes fadeOut {
	to {
	  opacity: 0;
	}
  }
  
  .toast--success {
	border-color: #47d864;
  }
  
  .toast--success .toast__icon {
	color: #47d864;
  }
  
  .toast--info {
	border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
	color: #2f86eb;
  }
  
  .toast--warning {
	border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
	color: #ffc021;
  }
  
  .toast--error {
	border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
	color: #ff623d;
  }
  
  .toast + .toast {
	margin-top: 24px;
  }
  
  .toast__icon {
	font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
	padding: 0 16px;
  }
  
  .toast__body {
	flex-grow: 1;
  }
  
  .toast__title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
  }
  
  .toast__msg {
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .loading-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .img-icon{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    transition:0.25s;                              
    opacity: 0;
    .btn{
        border-radius: 999px;
        line-height: normal;
        border: 0;
        display: inline-block;
        font-weight: 400;
        text-transform: none;
        text-align: center;
        cursor: pointer;
        position: relative;
        color: var(--text-color);
        background-color: transparent;
        i{
            height: 18px;
            padding-top: 1px;
            font-size: 2em;
            text-align: center;
            line-height: 1.6rem;
            display: inline-block;
            background-color: transparent;
        }
        .play{
            font-size:4rem;
        }
    }
  }
  .cart-item:hover .img-icon{
    opacity: 1;
    background-color:rgba(0,0,0,0.5);
  }
  #loading {
    position:fixed; 
    left:0; 
    top:0; 
    width:100%; 
    height:100%;
    background-image:url('https://gucongnghe.com/wp-content/uploads/2018/05/Zing-MP3.jpg'); 
    z-index:100;
}
#loading img {position: absolute; margin-left:-110px; margin-top:-9px; left:50%; top:50%}
#content-wrapper {
    visibility:hidden;
}