body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
  }
  *{
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  a:hover{
    text-decoration: none;
  }
  
  .form-control:focus{
    box-shadow: none;
  }
  
  .form-control,.card{
    border-radius: 2px;
  }
  
  #top-header{
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding-left: 235px;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  #top-header i{
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 4px;
  }
  
  #left-menu,#logo{
    width: 250px;
    background-color: #2f3e4e;
    color: #99abba;
  }
  
  #logo{
    height: 49px;
    border-bottom: 1px solid #465a6e;
    text-align: center;
    font-size: 25px;
    position: fixed;
    z-index: 15;
    transition: all 0.3s;
    top: 0;
    left: 0;
    padding-left: 25px;
  }
  #logo span{
     height: 100%;
     display: flex;
     align-items: center;
  }
  #left-menu{
    height: 100vh;
    top: 40px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    z-index: 15;
  }
  
  #left-menu ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
  }
  #left-menu ul li{
    list-style-type: none;
    height: 50px;
    width: 250px;
  }
  
  #left-menu ul li a{
    color: #99abba;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
  }
  #left-menu ul li a:hover{
    color: #f2f2f2;
  }
  #left-menu ul li.active a{
    color: #d74703;
  }
  #left-menu ul li a span{
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    padding-left: 10px;
    transition: all 0.3s;
  }
  
  #left-menu ul li a i{
    font-size: 20px;
  }
  #warraper.small-menu #logo{
    width: 60px;
    border-bottom: 1px solid transparent;
  }
  #warraper.small-menu #logo span{
    opacity: 0;
    visibility: hidden;
  }
  #warraper.small-menu #left-menu{
    width: 60px;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #warraper.small-menu #left-menu span{
    opacity: 0;
    visibility: hidden;
    left: 0;
  }
  #warraper.small-menu #main-content{
    margin-left: 80px;
  }
  #warraper.small-menu #top-header{
    padding-left: 70px;
  }
  #main-content{
    margin-left: 270px;
    margin-top: 20px;
    margin-right: 20px;
    transition: all 0.3s;
    margin-top: 60px;
  }
  #main-content .card{
    margin-bottom: 20px;
    padding: 15px 2px;
    border: 1px solid #cdcdcd
  }
  #main-content .title{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  #show-label-menu{
    position: fixed;
    width: 200px;
    overflow-x: hidden;
    left: 60px;
    z-index: 16;
    padding: 10px 15px;
    top: 0;
    background-color: #212c37;
    color: #99abba;
    display: none;
    transition: all 0.2s;
  }
  
  @media only screen and (max-width: 772px) {
    #top-header #toggle-menu{
      display: none;
    }
    
    #logo{
      top: -50px;
    }
    #left-menu{
      width: 60px;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
   
    #left-menu span{
      opacity: 0;
      visibility: hidden;
    }
    #main-content{
      margin-left: 80px;
    }
    #top-header{
      padding-left: 70px;
    }
  }
  * {
    box-sizing: border-box;
    position: 0px;
    margin: 0px auto;
}

*:focus {
    outline: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.module_products .content {
    padding: 8px 8px;
    position: relative;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
    height: 330px;
}

.module_products .content:first-child {
    border-left: 1px solid #dbdbdb;
}

.module_products .content img {
    width: 100%;
    height: 200px;
}

.module_products .content img:hover {
    transform: scale(1.07);
}

.confirm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  box-sizing: border-box;

  opacity: 0;
  animation-name: confirm---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;

  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm--close {
  animation-name: confirm---close;
}

.confirm__window {
  width: 100%;
  max-width: 600px;
  background: white;
  font-size: 14px;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  transform: scale(0.75);
  animation-name: confirm__window---open;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
  padding: 1.25em;
}

.confirm__titlebar {
  background: rgba(227, 32, 21, 0.8);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirm__title {
  font-weight: bold;
  font-size: 1.1em;
}

.confirm__close {
  background: none;
  outline: none;
  border: none;
  transform: scale(2.5);
  color: #ffffff;
  transition: color 0.15s;
  margin:0;
}

.confirm__close:hover {
  cursor: pointer;
}

.confirm__content {
  line-height: 1.8em;
}

.confirm__buttons {
  background: #eeeeee;
  display: flex;
  justify-content: flex-end;
}

.confirm__button {
  margin: 0;
  padding: 0.4em 0.8em;
  border: 2px solid rgba(227, 32, 21, 0.8);
  border-radius: 5px;
  background: #ffffff;
  color: rgba(227, 32, 21, 0.8);
  font-weight: bold;
  font-size: 1.1em;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
}

.confirm__button--fill {
  background: rgba(227, 32, 21, 0.8);
  color: #ffffff;
}

.confirm__button:focus {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

@keyframes confirm---open {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes confirm---close {
  from { opacity: 1 }
  to { opacity: 0 }
}

@keyframes confirm__window---open {
  to {
      opacity: 1;
      transform: scale(1);
  }
}

/* toast */
#toast {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 999999999;
  }
  
  .toast {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	max-height: 80px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	transition: all linear 0.3s;
    padding: 10px 0;
  }
  
  @keyframes slideInLeft {
	from {
	  opacity: 0;
	  transform: translateX(calc(100% + 32px));
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes fadeOut {
	to {
	  opacity: 0;
	}
  }
  
  .toast--success {
	border-color: #47d864;
  }
  
  .toast--success .toast__icon {
	color: #47d864;
  }
  
  .toast--info {
	border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
	color: #2f86eb;
  }
  
  .toast--warning {
	border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
	color: #ffc021;
  }
  
  .toast--error {
	border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
	color: #ff623d;
  }
  
  .toast + .toast {
	margin-top: 24px;
  }
  
  .toast__icon {
	font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
	padding: 0 16px;
  }
  
  .toast__body {
	flex-grow: 1;
  }
  
  .toast__title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
  }
  
  .toast__msg {
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .ban-active{
    border: 1px solid red;
  }