body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #432275, #7200a1, #c662ef);
}
.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
    background-color: transparent;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
/* toast */
#toast {
	position: fixed;
	top: 32px;
	right: 32px;
	z-index: 999999999;
  }
  
  .toast {
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 2px;
	min-width: 400px;
	max-width: 450px;
	max-height: 80px;
	border-left: 4px solid;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
	transition: all linear 0.3s;
    padding: 10px 0;
  }
  
  @keyframes slideInLeft {
	from {
	  opacity: 0;
	  transform: translateX(calc(100% + 32px));
	}
	to {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
  @keyframes fadeOut {
	to {
	  opacity: 0;
	}
  }
  
  .toast--success {
	border-color: #47d864;
  }
  
  .toast--success .toast__icon {
	color: #47d864;
  }
  
  .toast--info {
	border-color: #2f86eb;
  }
  
  .toast--info .toast__icon {
	color: #2f86eb;
  }
  
  .toast--warning {
	border-color: #ffc021;
  }
  
  .toast--warning .toast__icon {
	color: #ffc021;
  }
  
  .toast--error {
	border-color: #ff623d;
  }
  
  .toast--error .toast__icon {
	color: #ff623d;
  }
  
  .toast + .toast {
	margin-top: 24px;
  }
  
  .toast__icon {
	font-size: 24px;
  }
  
  .toast__icon,
  .toast__close {
	padding: 0 16px;
  }
  
  .toast__body {
	flex-grow: 1;
  }
  
  .toast__title {
	font-size: 16px;
	font-weight: 600;
	color: #333;
  }
  
  .toast__msg {
	font-size: 14px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
  }
  
  .toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .loading-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
  }
  .fancy-spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
  
    div {
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
  
      &.ring {
        border-width: 0.5rem;
        border-style: solid;
        border-color: transparent;
        animation: 2s fancy infinite alternate;
        
        &:nth-child(1) {
          border-left-color: #fff;
          border-right-color: #fff;
        }
        &:nth-child(2) {
          border-top-color: #fff;
          border-bottom-color: #fff;
          animation-delay: 1s;
        }
      }
  
      &.dot {
        width: 1rem;
        height: 1rem;
        background: #fff;
      }
    }
  }
  
  @keyframes fancy {
    to {
      transform: rotate(360deg) scale(0.5);
    }
  }