<section class="main">
  <div class="row">
    <div class="col-12 col-s-12 content">
      <div class="col-12 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-user-alt"></i> Thông tin tài khoản
            <hr />
          </div>
          <div class="row">
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Mã nhân viên:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <span id="manv">{{infoAccount.userId }}</span>
            </div>
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Tên người dùng:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <span id="tennv">{{infoAccount.name}}</span>
            </div>
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Email người dùng:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <span id="tennv">{{infoAccount.email}}</span>
            </div>
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Quốc gia:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <span id="tennv">{{infoAccount.country}}</span>
            </div>
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Quyền:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <span id="quyen">Quản lý</span>
            </div>
            <div class="col-2 col-s-3 padding-box margin-bot">
              <label for="name">Thông tin:</label>
            </div>
            <div class="col-10 col-s-9 padding-box margin-bot">
              <button
                ng-click="showFromChangePassword()"
                class="btn-changepass"
              >
                <i class="fas fa-retweet"></i> Đổi mật khẩu
              </button>
              <button ng-click="showFromUser()" class="btn-changepass">
                <i class="fas fa-retweet"></i> Thay đổi thông tin
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
