<section class="main">
  <div class="row">
    <div class="col-12 col-s-12">
      <div class="col-12 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-users"></i> Danh sách nghệ sĩ
            <button ng-click="showFormArtist()" style="margin-right: 3px">
              <i class="fa-solid fa-user-plus"></i> Thêm mới
            </button>
            <hr />
          </div>
          <div class="row">
            <div class="col-10 col-s-12 padding-box">
              <input
                ng-model="valueSearch"
                type="text"
                id="search-artist"
                ng-change="handleChangeSearch()"
                placeholder="Nhập mã, tên hoặc số điện thoại nghệ sĩ..."
              />
            </div>
            <div class="col-2 col-s-12 padding-box">
              <button><i class="fas fas fa-search"></i> Tìm kiếm</button>
            </div>
          </div>
          <div class="row">
            <div style="min-height: 250px" class="col-12 col-s-12 padding-box">
              <table>
                <thead>
                  <tr>
                    <th style="max-width: 100px">Mã nghệ sĩ</th>
                    <th>Tên nghệ sĩ</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody id="listCustomer"></tbody>
                <tbody ng-repeat="artist in listArtist">
                  <tr style="text-align: center">
                    <td>{{artist.RowNumber}}</td>
                    <td>
                      <input
                        class="input-table input-nameArtist input-{{artist.userId}}"
                        type="text"
                        data-name="{{artist.name}}"
                        ng-model="artist.name"
                        ng-change="handelChangeInput(0,artist.userId,artist.name)"
                      />
                    </td>
                    <td>
                      <input
                        class="input-table input-email input-{{artist.userId}}"
                        type="text"
                        data-email="{{artist.email}}"
                        ng-model="artist.email"
                        ng-change="handelChangeInput(1,artist.userId,artist.name)"
                      />
                    </td>
                    <td>
                      <input
                        class="input-table input-country input-{{artist.userId}}"
                        type="text"
                        data-country="{{artist.country}}"
                        ng-model="artist.country"
                        ng-change="handelChangeInput(2,artist.userId,artist.country)"
                      />
                    </td>
                    <td>{{artist.isBan}}</td>
                    <td style="text-align: center">
                      <i
                        ng-click="handleRemoveArtist(artist)"
                        class="fas fa-trash-alt"
                        title="Xóa"
                      ></i>
                      <i
                        ng-click="handleBanAccount(artist)"
                        class="fa-solid fa-ban"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button
                style="
                  margin-top: 10px;
                  max-width: 100px;
                  float: right;
                  background-color: rgba(44, 140, 15, 0.8);
                "
                class="btn-submit"
                ng-click="updateMultiple()"
              >
                Lưu dữ liệu
              </button>
            </div>

            <div class="col-12 col-s-12 padding-box">
              <div class="box-sum">
                <div class="box-left">
                  Tổng số lượng nghệ sĩ:
                  <span id="soluong">{{qualityArtist}}</span>
                </div>
                <div class="box-right">
                  <button><i class="fas fa-angle-left"></i></button>
                  <button
                    ng-click="handleClickPage(index)"
                    style="margin: 0 2px; opacity: 0.2"
                    ng-repeat="index in listPage"
                    class="btn-page btn-page-{{index}}"
                  >
                    {{index + 1}}
                  </button>
                  <button><i class="fas fa-angle-right"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
