<div ng-hide="isHideFormArtist" class="container-formType form-typeSong">
  <div class="content">
    <div class="content-header">
      <h1>Thông tin</h1>
      <i
        ng-click="hideFormArtist()"
        class="fa-solid fa-xmark btn-close-formInfo"
      ></i>
    </div>
    <div class="wrapper-content">
      <form class="form-info">
        <div class="form-text">
          <div class="left">
            <label for="name">Tên nghệ sĩ :</label>
            <input ng-model="nameUser" type="text" id="name" name="name" />

            <label for="email">Email nghệ sĩ :</label>
            <input ng-model="emailUser" type="text" id="email" name="email" />
            <label for="nameAccount">Tên tài khoản:</label>
            <input
              ng-model="nameAccount"
              type="text"
              id="nameAccount"
              name="nameAccount"
            />
            <label for="password">Mật khẩu:</label>
            <input
              ng-model="passwordAccount"
              type="password"
              id="password"
              name="password"
            />
          </div>
        </div>
        <button
          ng-click="addArtist()"
          style="padding: 5px 10px"
          type="submit"
          class="btn-submit"
        >
          Thêm nghệ sĩ
        </button>
      </form>
    </div>
  </div>
</div>
