<section class="main">
  <div class="row">
    <div class="col-11 col-s-12 content">
      <div class="col-12 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-signal"></i> Hoạt động hôm nay
            <hr />
          </div>
          <div class="row">
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #9abc32">
                <div class="box-left"><i class="fas fa-signal"></i></div>
                <div class="box-right">Tiền bán hàng<br /><span>0</span>đ</div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #6fb3e0">
                <div class="box-left"><i class="fas fa-cloud"></i></div>
                <div class="box-right">
                  Số đơn hàng: <span>0</span><br />
                  Số sản phẩm: <span>0</span>
                </div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #d53f">
                <div class="box-left"><i class="fas fa-undo-alt"></i></div>
                <div class="box-right">Khách hàng trả<br /><span>0</span></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-s-12 padding-box">
              <div class="box2" style="border: 1px solid #6fb3e0">
                <div class="box2-top" style="border-bottom: 1px solid #6fb3e0">
                  <i class="fas fa-signal"></i> Hoạt động
                </div>
                <div class="box2-bot">
                  <div class="box2-bot-left">Tiền bán hàng</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Số đơn hàng</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Số sản phẩm</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Khách trả hàng</div>
                  <div class="box2-bot-right">0</div>
                </div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box2" style="border: 1px solid #e8b110">
                <div class="box2-top" style="border-bottom: 1px solid #e8b110">
                  <i class="fas fa-boxes"></i> Thông tin kho
                </div>
                <div class="box2-bot">
                  <div class="box2-bot-left">Tồn kho</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Hết hàng</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Sắp hết hàng</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Vượt định mức</div>
                  <div class="box2-bot-right">0</div>
                </div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box2" style="border: 1px solid #9abc32">
                <div class="box2-top" style="border-bottom: 1px solid #9abc32">
                  <i class="fas fa-boxes"></i> Thông tin sản phẩm
                </div>
                <div class="box2-bot">
                  <div class="box2-bot-left">Sản phẩm</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Chưa làm giá bán</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Chưa nhập giá mua</div>
                  <div class="box2-bot-right">0</div>
                  <div class="box2-bot-left">Hàng chưa phân loại</div>
                  <div class="box2-bot-right">0</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
