<section class="main">
  <div class="row">
    <div class="col-11 col-s-12 content">
      <div class="col-12 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-signal"></i> Tổng quan
            <hr />
          </div>
          <div class="row">
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #9abc32">
                <div class="box-left"><i class="fas fa-signal"></i></div>
                <div class="box-right">
                  Số người dùng<br /><span>{{totalUser}}</span>
                </div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #6fb3e0">
                <div class="box-left"><i class="fas fa-cloud"></i></div>
                <div class="box-right">
                  Số nghệ sĩ trong nước : <span>{{totalArtistVietNam}}</span
                  ><br />
                  Số nghệ sĩ nước ngoài : <span>{{totalArtistNational}}</span>
                </div>
              </div>
            </div>
            <div class="col-4 col-s-12 padding-box">
              <div class="box" style="background-color: #d53f">
                <div class="box-left"><i class="fas fa-undo-alt"></i></div>
                <div class="box-right">
                  Số bài hát<br /><span>{{totalSong}}</span>
                </div>
              </div>
            </div>
          </div>
          <div
            style="margin-bottom: 20px"
            class="col-11 col-s-12 col-m-12 Details"
          >
            <div class="col-12 col-s-12 col-m-12 overview Page">
              <div class="col-12 col-s-12 col-m-12 overview1">
                <div class="tabcontent"></div>
                <div class="chooseover">
                  <label for="txt_over">Tổng quan về thống kê </label>
                  <select
                    onchange="Thongke()"
                    id="txt_over"
                    style="outline: none; margin-top: 20px"
                  >
                    <option value="tuan">Theo tuần</option>
                    <option value="thang">Theo tháng</option>
                    <option value="nam">Theo năm</option>
                  </select>
                </div>
                <div class="col-12 col-s-12 col-m-12 sales">
                  <div
                    id="chartContainerTuan"
                    style="height: 400px; width: 60%; margin: auto"
                  ></div>
                </div>
                <div class="col-12 col-s-12 col-m-12 sales_week"></div>
                <div class="col-12 col-s-12 col-m-12 sales">
                  <div
                    id="chartContainerthang"
                    style="height: 400px; width: 100%"
                  ></div>
                </div>
                <div class="col-12 col-s-12 col-m-12 sales_week"></div>
                <div class="col-12 col-s-12 col-m-12 sales">
                  <div
                    id="chartContainer"
                    style="height: 400px; width: 100%"
                  ></div>
                </div>
                <div class="col-12 col-s-12 col-m-12 sales_week"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
