<section class="main">
  <div class="row">
    <div class="col-12 col-s-12">
      <div class="col-4 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-users"></i> Nhập thông tin thể loại
            <hr />
          </div>
          <div class="row">
            <form>
              <div class="col-12 col-s-12 padding-box">
                <label for="txtright">Tên thể loại:</label>
              </div>
              <div class="col-12 col-s-12 padding-box">
                <input
                  type="text"
                  id="tenkh"
                  placeholder="Nhập tên thể loại..."
                />
              </div>
              <div class="col-12 col-s-12 padding-box">
                <label for="txtright">Địa chỉ:</label>
              </div>
              <div class="col-12 col-s-12 padding-box">
                <input
                  type="email"
                  id="emailkh"
                  placeholder="Nhập quốc gia thể loại..."
                />
              </div>
              <div class="col-12 col-s-12 padding-box">
                <label for="txt-login">Tên đăng nhập:</label>
              </div>
              <div class="col-12 col-s-12 padding-box">
                <input
                  type="text"
                  id="txt-login"
                  placeholder="Nhập tên đăng nhập thể loại..."
                />
              </div>
              <div class="col-12 col-s-12 padding-box">
                <label for="txtright">Mật khẩu:</label>
              </div>
              <div class="col-12 col-s-12 padding-box">
                <input
                  type="password"
                  id="mkkh"
                  placeholder="Nhập mật khẩu thể loại..."
                />
              </div>
            </form>
          </div>
          <hr />
          <button
            class="btn-form"
            style="background-color: rgba(44, 140, 15, 0.8)"
          >
            Thêm thể loại
          </button>
          <button
            class="btn-form"
            style="background-color: rgba(227, 32, 21, 0.8)"
          >
            Nhập mới
          </button>
        </div>
      </div>
      <div class="col-8 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-users"></i> Danh sách thể loại
            <button style="margin-right: 3px">
              <i class="far fa-trash-alt"></i> Xóa chọn
            </button>
            <hr />
          </div>
          <div class="row">
            <div class="col-10 col-s-12 padding-box">
              <input
                type="text"
                id="search-customer"
                placeholder="Nhập mã, tên hoặc số điện thoại thể loại..."
              />
            </div>
            <div class="col-2 col-s-12 padding-box">
              <button><i class="fas fas fa-search"></i> Tìm kiếm</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-s-12 padding-box">
              <table>
                <thead>
                  <tr>
                    <th style="padding-top: 10px">
                      <input type="checkbox" />
                    </th>
                    <th>Mã thể loại</th>
                    <th>Tên thể loại</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody id="listCustomer"></tbody>
                <tbody ng-repeat="type in typeSongList">
                  <tr>
                    <td style="text-align: center; padding-top: 10px">
                      <input type="checkbox" value="" id="" />
                    </td>
                    <td>{{type.typeSongId}}</td>
                    <td>{{type.name}}</td>
                    <td style="text-align: center">
                      <i class="fas fa-edit" title="Sửa"></i>
                      <i class="fas fa-trash-alt" title="Xóa"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-s-12 padding-box">
              <div class="box-sum">
                <div class="box-left">
                  Số lượng thể loại:
                  <span id="soluong">{{typeSongQuantity}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
