<section class="main">
  <div class="row">
    <div class="col-12 col-s-12">
      <div class="col-12 col-s-12 content">
        <div class="tabcontent">
          <div class="title">
            <i class="fas fa-users"></i> Danh sách tài khoản admin
            <button ng-click="showFromAccount()" style="margin-right: 3px">
              <i class="fa-solid fa-user-plus"></i> Thêm mới
            </button>
            <hr />
          </div>
          <div class="row">
            <div class="col-10 col-s-12 padding-box">
              <input
                type="text"
                id="search-customer"
                placeholder="Nhập mã, tên hoặc số điện thoại người dùng..."
              />
            </div>
            <div class="col-2 col-s-12 padding-box">
              <button><i class="fas fas fa-search"></i> Tìm kiếm</button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-s-12 padding-box">
              <table>
                <thead>
                  <tr style="text-align: center">
                    <th>Mã người dùng</th>
                    <th>Tên người dùng</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody ng-repeat="user in listUser">
                  <tr style="text-align: center">
                    <td>{{user.RowNumber}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.country}}</td>
                    <td style="text-align: center">
                      <i
                        ng-click="handleRemoveUser(user)"
                        class="fas fa-trash-alt"
                        title="Xóa"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12 col-s-12 padding-box">
              <div class="box-sum">
                <div class="box-left">
                  Số lượng người dùng: <span id="soluong">{{qualityUser}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
