body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
  }
  *{
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  a:hover{
    text-decoration: none;
  }
  
  .form-control:focus{
    box-shadow: none;
  }
  
  .form-control,.card{
    border-radius: 2px;
  }
  
  #top-header{
    background-color: #f2f2f2;
    height: 40px;
    border-bottom: 1px solid #ccc;
    padding-left: 260px;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
  #top-header i{
    margin: 10px 15px;
    cursor: pointer;
    font-size: 20px;
  }
  
  #left-menu,#logo{
    width: 250px;
    background-color: #2f3e4e;
    color: #99abba;
  }
  
  #logo{
    height: 40px;
    border-bottom: 1px solid #465a6e;
    text-align: center;
    font-size: 25px;
    position: fixed;
    z-index: 15;
    transition: all 0.3s;
    top: 0;
    left: 0;
    padding-left: 25px;
  }
  #logo span{
     height: 100%;
     display: flex;
     align-items: center;
  }
  #left-menu{
    height: 100vh;
    top: 40px;
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s;
    z-index: 15;
  }
  
  #left-menu ul{
    padding: 0;
    margin: 0;
    padding-top: 15px;
  }
  #left-menu ul li{
    list-style-type: none;
    height: 50px;
    width: 250px;
  }
  
  #left-menu ul li a{
    color: #99abba;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
  }
  #left-menu ul li a:hover{
    color: #f2f2f2;
  }
  #left-menu ul li.active a{
    color: #d74703;
  }
  #left-menu ul li a span{
    display: inline-block;
    vertical-align: middle;
    margin-top: -7px;
    padding-left: 10px;
    transition: all 0.3s;
  }
  
  #left-menu ul li a i{
    font-size: 20px;
  }
  #warraper.small-menu #logo{
    width: 60px;
    border-bottom: 1px solid transparent;
  }
  #warraper.small-menu #logo span{
    opacity: 0;
    visibility: hidden;
  }
  #warraper.small-menu #left-menu{
    width: 60px;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #warraper.small-menu #left-menu span{
    opacity: 0;
    visibility: hidden;
    left: 0;
  }
  #warraper.small-menu #main-content{
    margin-left: 80px;
  }
  #warraper.small-menu #top-header{
    padding-left: 70px;
  }
  #main-content{
    margin-left: 270px;
    margin-top: 20px;
    margin-right: 20px;
    transition: all 0.3s;
    margin-top: 60px;
  }
  #main-content .card{
    margin-bottom: 20px;
    padding: 15px 2px;
    border: 1px solid #cdcdcd
  }
  #main-content .title{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  #show-label-menu{
    position: fixed;
    width: 200px;
    overflow-x: hidden;
    left: 60px;
    z-index: 16;
    padding: 10px 15px;
    top: 0;
    background-color: #212c37;
    color: #99abba;
    display: none;
    transition: all 0.2s;
  }
  
  @media only screen and (max-width: 772px) {
    #top-header #toggle-menu{
      display: none;
    }
    
    #logo{
      top: -50px;
    }
    #left-menu{
      width: 60px;
      top: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
   
    #left-menu span{
      opacity: 0;
      visibility: hidden;
    }
    #main-content{
      margin-left: 80px;
    }
    #top-header{
      padding-left: 70px;
    }
  }
  * {
    box-sizing: border-box;
    position: 0px;
    margin: 0px auto;
}

*:focus {
    outline: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.module_products .content {
    padding: 8px 8px;
    position: relative;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
    height: 330px;
}

.module_products .content:first-child {
    border-left: 1px solid #dbdbdb;
}

.module_products .content img {
    width: 100%;
    height: 200px;
}

.module_products .content img:hover {
    transform: scale(1.07);
}

