<link href="../../assets/sass/style.css" />
<div class="header">
  <div class="container">
    <div class="wrapper-left">
      <div class="btn-move">
        <button class="btn-left">
          <i class="fa-solid fa-arrow-left-long"></i>
        </button>
        <button class="btn-right">
          <i class="fa-solid fa-arrow-right-long"></i>
        </button>
      </div>
      <div class="search">
        <div class="btn-search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <input
          ng-model="valueSearch"
          ng-change="handleChangeSearch()"
          class="input-search"
          type="text"
          placeholder="Tìm kiếm bài hát,nghệ sĩ,lời bài hát,..."
        />
        <div class="history-search">
          <div class="history-search-container">
            <h3>Kết quả tìm kiếm...</h3>
            <div ng-hide="hideListSuggestSearchSong">
              <div class="history-separate"></div>
              <h3>Bài hát</h3>
              <ul class="history-list">
                <a
                  ng-click="handleClickItem()"
                  style="
                    text-decoration: none;
                    color: var(--text-color);
                    width: 100%;
                  "
                  ng-href="#/search?q={{valueSearch}}"
                >
                  <li
                    ng-repeat="song in listSuggestSearchSong"
                    class="history-item"
                  >
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <p>{{song.name}}</p>
                  </li>
                </a>
              </ul>
            </div>
            <div ng-hide="hideListSuggestSearchArtist">
              <div class="history-separate"></div>
              <div class="history-near">
                <div class="history-near-title">
                  <h3>Nghệ sĩ</h3>
                </div>
                <ul class="list-video">
                  <li
                    ng-repeat="artist in listSuggestSearchArtist"
                    class="video-item"
                  >
                    <a
                      ng-click="handleClickItem()"
                      style="text-decoration: none; color: #fff"
                      class="video-item"
                      href="#/discover/artist/{{artist.userId}}"
                    >
                      <div class="video-image">
                        <img src="{{artist.image}}" alt="" />
                        <i class="fa-solid fa-play icon-play"></i>
                      </div>
                      <div class="video-discription">
                        <p>{{artist.name}}</p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div ng-hide="hideListSuggestSearchType">
              <div class="history-separate"></div>
              <div class="history-near">
                <div class="history-near-title">
                  <h3>Thể loại</h3>
                </div>
                <ul class="history-list">
                  <li
                    ng-repeat="type in listSuggestSearchType"
                    class="history-item"
                  >
                    <a
                      ng-click="handleClickItem()"
                      style="
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        color: #fff;
                        width: 100%;
                      "
                      href="#/search?q={{valueSearch}}"
                    >
                      <i class="fa-solid fa-arrow-trend-up"></i>
                      <p>{{type.name}}</p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-right">
      <div class="btn-wrapper">
        <button class="btn background-item">
          <svg width="20" height="20" viewBox="0 0 20 20">
            <defs>
              <linearGradient
                id="j32lhg93hd"
                x1="62.206%"
                x2="18.689%"
                y1="70.45%"
                y2="39.245%"
              >
                <stop offset="0%" stop-color="#F81212"></stop>
                <stop offset="100%" stop-color="red"></stop>
              </linearGradient>
              <linearGradient
                id="hjoavsus6g"
                x1="50%"
                x2="11.419%"
                y1="23.598%"
                y2="71.417%"
              >
                <stop offset="0%" stop-color="#00F"></stop>
                <stop offset="100%" stop-color="#0031FF"></stop>
              </linearGradient>
              <linearGradient
                id="la1y5u3dvi"
                x1="65.655%"
                x2="25.873%"
                y1="18.825%"
                y2="56.944%"
              >
                <stop offset="0%" stop-color="#FFA600"></stop>
                <stop offset="100%" stop-color="orange"></stop>
              </linearGradient>
              <linearGradient
                id="2dsmrlvdik"
                x1="24.964%"
                x2="63.407%"
                y1="8.849%"
                y2="55.625%"
              >
                <stop offset="0%" stop-color="#13EFEC"></stop>
                <stop offset="100%" stop-color="#00E8DF"></stop>
              </linearGradient>
              <filter
                id="4a7imk8mze"
                width="230%"
                height="230%"
                x="-65%"
                y="-65%"
                filterUnits="objectBoundingBox"
              >
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="3.9"
                ></feGaussianBlur>
              </filter>
              <filter
                id="301mo6jeah"
                width="312.7%"
                height="312.7%"
                x="-106.4%"
                y="-106.4%"
                filterUnits="objectBoundingBox"
              >
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="3.9"
                ></feGaussianBlur>
              </filter>
              <filter
                id="b2zvzgq7fj"
                width="295%"
                height="295%"
                x="-97.5%"
                y="-97.5%"
                filterUnits="objectBoundingBox"
              >
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="3.9"
                ></feGaussianBlur>
              </filter>
              <filter
                id="a1wq161tvl"
                width="256%"
                height="256%"
                x="-78%"
                y="-78%"
                filterUnits="objectBoundingBox"
              >
                <feGaussianBlur
                  in="SourceGraphic"
                  stdDeviation="3.9"
                ></feGaussianBlur>
              </filter>
              <path
                id="qtpqrj1oda"
                d="M3.333 14.167V5.833l-1.666.834L0 3.333 3.333 0h3.334c.04 1.57.548 2.4 1.524 2.492l.142.008C9.403 2.478 9.958 1.645 10 0h3.333l3.334 3.333L15 6.667l-1.667-.834v8.334h-10z"
              ></path>
              <path id="jggzvnjgfc" d="M0 0H20V20H0z"></path>
              <path
                id="2eiwxjmc7m"
                d="M3.333 14.167V5.833l-1.666.834L0 3.333 3.333 0h3.334c.04 1.57.548 2.4 1.524 2.492l.142.008C9.403 2.478 9.958 1.645 10 0h3.333l3.334 3.333L15 6.667l-1.667-.834v8.334h-10z"
              ></path>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
              <mask id="tinejqaasb" fill="#fff">
                <use xlink:href="#qtpqrj1oda"></use>
              </mask>
              <use fill="#FFF" fill-opacity="0" xlink:href="#qtpqrj1oda"></use>
              <g mask="url(#tinejqaasb)">
                <g transform="translate(-2 -3)">
                  <mask id="uf3ckvfvpf" fill="#fff">
                    <use xlink:href="#jggzvnjgfc"></use>
                  </mask>
                  <use fill="#D8D8D8" xlink:href="#jggzvnjgfc"></use>
                  <circle
                    cx="8.9"
                    cy="6.8"
                    r="9"
                    fill="url(#j32lhg93hd)"
                    filter="url(#4a7imk8mze)"
                    mask="url(#uf3ckvfvpf)"
                  ></circle>
                  <circle
                    cx="9.3"
                    cy="13.7"
                    r="5.5"
                    fill="url(#hjoavsus6g)"
                    filter="url(#301mo6jeah)"
                    mask="url(#uf3ckvfvpf)"
                  ></circle>
                  <circle
                    cx="15.9"
                    cy="6.9"
                    r="6"
                    fill="url(#la1y5u3dvi)"
                    filter="url(#b2zvzgq7fj)"
                    mask="url(#uf3ckvfvpf)"
                  ></circle>
                  <circle
                    cx="16.4"
                    cy="17.7"
                    r="7.5"
                    fill="url(#2dsmrlvdik)"
                    filter="url(#a1wq161tvl)"
                    mask="url(#uf3ckvfvpf)"
                  ></circle>
                </g>
              </g>
              <use
                fill="#FFF"
                fill-opacity="0.05"
                xlink:href="#2eiwxjmc7m"
              ></use>
            </g>
          </svg>
          <div class="tooltip tooltip-background none">
            <p>Chủ đề</p>
          </div>
        </button>
        <button
          ng-click="ShowFormInfoSong()"
          ng-if="isArtist"
          class="btn upload"
        >
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
          <div class="tooltip tooltip-upload none">
            <p>Tải lên</p>
          </div>
        </button>
        <button class="btn setting">
          <i class="fa-solid fa-gear"></i>
          <div class="setting-list">
            <ul class="setting-option">
              <li class="setting-item">
                <i class="fa-solid fa-ban"></i>
                <p>Danh sách chặn</p>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-circle-play"></i>
                <p>Chất lượng nhạc</p>
                <i class="fa-solid fa-chevron-right"></i>
                <div class="option none">
                  <ul>
                    <li>
                      <div class="option-left">
                        <h3>SQ.128</h3>
                        <p>Giảm sử dụng dữ liệu cho các kết nối chậm hơn.</p>
                      </div>
                      <div class="option-icon">
                        <i class="fa-solid fa-check"></i>
                      </div>
                    </li>
                    <li>
                      <div class="option-left">
                        <h3>SQ.128</h3>
                        <p>Giảm sử dụng dữ liệu cho các kết nối chậm hơn.</p>
                      </div>
                      <div class="option-icon none">
                        <i class="fa-solid fa-check"></i>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-square-virus"></i>
                <p>Giao diện</p>
                <i class="fa-solid fa-chevron-right"></i>
              </li>
            </ul>
            <div class="separate"></div>
            <ul class="list-link">
              <li class="setting-item">
                <i class="fa-solid fa-circle-exclamation"></i>
                <p>Giới thiệu</p>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-phone"></i>
                <a>Liên hệ</a>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-rectangle-ad"></i>
                <a>Quảng cáo</a>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-file-lines"></i>
                <a>Thỏa thuận sử dụng</a>
              </li>
              <li class="setting-item">
                <i class="fa-solid fa-shield"></i>
                <a>Chính sách bảo mật</a>
              </li>
            </ul>
          </div>
        </button>
        <div click-outside="hide()" class="Account-Image sub_header_item-login">
          <img
            ng-click="ShowHide()"
            id="img-avatar"
            ng-src="{{imageUser}}"
            alt=""
          />
          <div class="">
            <div
              ng-hide="IsHidden"
              id="setting-list-auth"
              class="setting-list setting-list-auth"
            >
              <ul ng-if="isLogin" class="list-link">
                <li
                  ng-click="getInfoUser()"
                  class="setting-item setting-item-info-user"
                >
                  <i class="fa-solid fa-file-lines"></i>
                  <a>Thông tin tài khoản</a>
                </li>
                <li
                  ng-click="hideFormChangePassword()"
                  class="setting-item setting-item-info-user"
                >
                  <i class="fa-solid fa-lock"></i>
                  <a>Đổi mật khẩu</a>
                </li>
                <li ng-click="logOut()" class="setting-item">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  <a>Đăng xuất</a>
                </li>
              </ul>
              <ul ng-if="!isLogin" class="list-link">
                <a style="text-decoration: none" href="views/auth.html">
                  <li class="setting-item">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <p style="text-decoration: none">Đăng nhập</p>
                  </li>
                </a>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
